@model IEnumerable<NguyenThuyDungBTH2.Models.Faculty>
    @{
        ViewData["Title"]="Index";
    }
    <p>
        <a asp-action ="Create">Create New</a>
    </p>
    <table class=" table ">
        <thead>
            <tr>
                <th>
                     @Html.DisplayNameFor(model =>model.FacultyID)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>model.FacultyName)
                </th>
            </tr>
        </thead>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FacultyID)</td>
                <td>@Html.DisplayFor(m => item.FacultyName)</td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.FacultyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacultyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacultyID">Delete</a>
                </td>
            </tr>
        }
    </table>